# tuple
it is a ordered collection of data like list 
it is a unmutable form of list it also store data in continous memory allocation

In [2]:
t1=() #empty tuple 
print(type(t1))

<class 'tuple'>

In [5]:
# alist can be created as tuple and a tuple can be list in program
t1=list()
print(type(t1))
t2=()
print(type(t2))

<class 'list'>
<class 'tuple'>

In [7]:
# a list in tuple

num = tuple([1,2,3,4,5,6,7])
print(num)
print(type(num))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [8]:
#mixed tuple
mt=("bhavesh",1,1.5,True)
print(mt)

('bhavesh', 1, 1.5, True)

In [5]:
#accessing the tuple element
n=(1,2,3,4,5,6)
print(n)
print(type(n))
print(n[1])
print(n[3])
print(n[-2])
print(n[-1])
print(n[0:])
print(n[1::2])
print(n[:4])
print(n[::-1])

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
2
4
5
6
(1, 2, 3, 4, 5, 6)
(2, 4, 6)
(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

In [5]:
#tuple concatination
mt = ("bhavesh",1,1.5,True)
n=(1,2,3,4,5,6)
concatination = n + mt
print(concatination)

(1, 2, 3, 4, 5, 6, 'bhavesh', 1, 1.5, True)

In [8]:
#tuple multiplication
mt = ("bhavesh",1,1.5,True)
n=(1,2,3,4,5,6)
print(mt*3)
print(n*3)
print(concatination)

('bhavesh', 1, 1.5, True, 'bhavesh', 1, 1.5, True, 'bhavesh', 1, 1.5, True)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 'bhavesh', 1, 1.5, True)

In [11]:
## tuple immutable nature 
t1=(1,2,3,45,6,7)
print(t1[1])

t1[1]=5# we cannot assign the tuple value

2

TypeError: 'tuple' object does not support item assignment

In [ ]:
#packing and unpacking 

#if the values are individually inserted then its by default get in tupple
# packing 
tup=1,"bhavesh",5.5,1,5,6,7,43,42,23,11,1,1
print(tup)
#unpacking using *
(a,*b,c)=tup # here the a consist of first value b consist of all intermediate values and c consists of last value
print(a)
print(b)
print(c)

(1, 'bhavesh', 5.5, 1, 5, 6, 7, 43, 42, 23, 11, 1, 1)
1
['bhavesh', 5.5, 1, 5, 6, 7, 43, 42, 23, 11, 1]
1

In [20]:
#tuple method 
#count
print(tup.count(1))# use count for particular number
print(tup.count(2))

#index for finding the index of the value

print(tup.index(42))

4
0
8

In [24]:
# nested tuple and list

tupl=([1,2,3],(4,5,6),[8,9,0])
print(tupl[0])
print(tupl[2])
print(tupl[1])
print(tupl[0][1])
print(tupl[0][0])
print(tupl[0][2])
print(tupl[1][0])
print(tupl[1][1])
print(tupl[1][2])

[1, 2, 3]
[8, 9, 0]
(4, 5, 6)
2
1
3
4
5
6

In [25]:
## iterrating over nested tuple

nested_tuple=([1,2,3],(4,5,6),[8,9,0])
for sub_tuple in nested_tuple:
    for i in sub_tuple:
        print(i,end=" ")

1 2 3 4 5 6 8 9 0